In [1]:
import pandas as pd

In [2]:
df = pd.read_stata('../data/raw/pandas_wkshp2.dta')

df.head().T

,0,1,2,3,4
year,2000,2000,2000,2000,2000
datanum,3,3,3,3,3
serial,218,226,784,1033,1115
hhwt,600,600,600,600,600
statefip,California,California,California,California,California
countyfips,NaN,NaN,NaN,NaN,NaN
gq,Households under 1970 definition,Households under 1970 definition,Households under 1970 definition,Households under 1970 definition,Households under 1970 definition
pernum,1,2,2,1,1
perwt,671,610,618,637,579
sex,Male,Female,Female,Male,Female
age,65,65,65,65,65
marst,"Married, spouse present","Married, spouse present","Married, spouse present",Widowed,Widowed
race,White,White,White,White,White
raced,White,White,White,White,White
bpl,"United Kingdom, ns",Illinois,France,California,California
bpld,"United Kingdom, ns",Illinois,France,California,California
citizen,Not a citizen,N/A,Naturalized citizen,N/A,N/A
hcovany,NaN,NaN,NaN,NaN,NaN
hcovpriv,NaN,NaN,NaN,NaN,NaN
hinsemp,NaN,NaN,NaN,NaN,NaN
hinspur,NaN,NaN,NaN,NaN,NaN
hcovpub,NaN,NaN,NaN,NaN,NaN
hinscaid,NaN,NaN,NaN,NaN,NaN
hinscare,NaN,NaN,NaN,NaN,NaN
hinsva,NaN,NaN,NaN,NaN,NaN
educ,Grade 12,2 years of college,N/A or no schooling,Grade 12,1 year of college
educd,"Some college, but less than 1 year","Associate's degree, type not specified",No schooling completed,High school graduate or GED,"1 or more years of college credit, no degree"
empstat,Not in labor force,Employed,Not in labor force,Employed,Not in labor force
empstatd,Not in Labor Force,"Has job, not working",Not in Labor Force,At work,Not in Labor Force
occ2010,Purchasing Managers,"Property, Real Estate, and Community Associati...","Unemployed, with No Work Experience in the Las...","First-Line Supervisors of Farming, Fishing, an...","Property, Real Estate, and Community Associati..."
ind,607,707,0,27,707
wkswork2,N/A,14-26 weeks,N/A,50-52 weeks,50-52 weeks
uhrswork,N/A,30,N/A,50,16
looking,"No, did not look for work","No, did not look for work","No, did not look for work",N/A,"No, did not look for work"
availble,N/A,"No, other reason(s)",N/A,N/A,"No, other reason(s)"
inctot,24800,103640,34000,37500,145000
incwage,0,100000,0,37500,120000
vetstat,Not a veteran,Not a veteran,Not a veteran,Veteran,Not a veteran
vetstatd,No military service,No military service,No military service,Veteran,No military service

In [4]:
df.groupby(['year', 'citizen', 'educd'])['perwt'].sum()

year  citizen                          educd
2000  N/A                              No schooling completed                             2443.0
                                       Grade 5 or 6                                        622.0
                                       Grade 7 or 8                                       3405.0
                                       Grade 9                                             967.0
                                       Grade 10                                           4877.0
                                       Grade 11                                           4290.0
                                       12th grade, no diploma                             4326.0
                                       High school graduate or GED                       41086.0
                                       Some college, but less than 1 year                11009.0
                                       1 or more years of college credit, no degree      19655.0
                                       Associate's degree, type not specified            12521.0
                                       Bachelor's degree                                 32574.0
                                       Master's degree                                    4978.0
                                       Professional degree beyond a bachelor's degree     1857.0
                                       Doctoral degree                                    3296.0
      Born abroad of American parents  Master's degree                                     621.0
      Naturalized citizen              No schooling completed                             3138.0
                                       Nursery school to grade 4                          3773.0
                                       Grade 5 or 6                                       4197.0
                                       Grade 7 or 8                                       1256.0
                                       Grade 9                                             627.0
                                       Grade 10                                            637.0
                                       Grade 11                                            621.0
                                       12th grade, no diploma                             5366.0
                                       High school graduate or GED                        6827.0
                                       Some college, but less than 1 year                 1216.0
                                       1 or more years of college credit, no degree       2912.0
                                       Associate's degree, type not specified             3865.0
                                       Bachelor's degree                                  2976.0
                                       Master's degree                                     627.0
                                                                                          ...
2016  Naturalized citizen              1 or more years of college credit, no degree       7040.0
                                       Associate's degree, type not specified             6630.0
                                       Bachelor's degree                                 21577.0
                                       Master's degree                                    5513.0
                                       Professional degree beyond a bachelor's degree     1507.0
                                       Doctoral degree                                    1207.0
      Not a citizen                    No schooling completed                             7302.0
                                       Nursery school, preschool                            78.0
                                       Kindergarten                                        333.0
                                       Grade 1                                             365.0
                                       Grade 2                                            1550.0
                                       Grade 3                                            2704.0
                                       Grade 4                                             605.0
                                       Grade 5                                            1030.0
                                       Grade 6                                            6002.0
                                       Grade 7                                             405.0
                                       Grade 8                                             943.0
                                       Grade 9                                            1515.0
                                       Grade 10                                            419.0
                                       Grade 11                                            218.0
                                       12th grade, no diploma                             1627.0
                                       Regular high school diploma                        6775.0
                                       GED or alternative credential                       375.0
                                       Some college, but less than 1 year                 1014.0
                                       1 or more years of college credit, no degree       3188.0
                                       Associate's degree, type not specified             1125.0
                                       Bachelor's degree                                  3577.0
                                       Master's degree                                     890.0
                                       Professional degree beyond a bachelor's degree      269.0
                                       Doctoral degree                                      70.0
Name: perwt, Length: 1119, dtype: float64

In [7]:
df['educd'].cat.categories

Index(['No schooling completed', 'Nursery school to grade 4',
       'Nursery school, preschool', 'Kindergarten', 'Grade 1', 'Grade 2',
       'Grade 3', 'Grade 4', 'Grade 5 or 6', 'Grade 5', 'Grade 6',
       'Grade 7 or 8', 'Grade 7', 'Grade 8', 'Grade 9', 'Grade 10', 'Grade 11',
       '12th grade, no diploma', 'High school graduate or GED',
       'Regular high school diploma', 'GED or alternative credential',
       'Some college, but less than 1 year',
       '1 or more years of college credit, no degree',
       'Associate's degree, type not specified', 'Bachelor's degree',
       'Master's degree', 'Professional degree beyond a bachelor's degree',
       'Doctoral degree'],
      dtype='object')

In [8]:
df[df['educd'] < "High school graduate or GED"]

,year,datanum,serial,hhwt,statefip,countyfips,gq,pernum,perwt,sex,...,occ2010,ind,wkswork2,uhrswork,looking,availble,inctot,incwage,vetstat,vetstatd
2,2000,3,784.0,600.0,California,NaN,Households under 1970 definition,2,618.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",N/A,34000,0,Not a veteran,No military service
5,2000,3,1681.0,600.0,California,NaN,Households under 1970 definition,1,634.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work","No, other reason(s)",8600,0,Not a veteran,No military service
16,2000,3,6401.0,1800.0,California,NaN,Households under 1970 definition,1,1885.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",N/A,6300,0,Not a veteran,No military service
19,2000,3,8152.0,1800.0,California,NaN,Households under 1970 definition,5,1568.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",N/A,0,0,Not a veteran,No military service
20,2000,3,8195.0,600.0,California,NaN,Households under 1970 definition,5,644.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work","No, other reason(s)",8300,0,Not a veteran,No military service
24,2000,3,10079.0,600.0,California,NaN,Households under 1970 definition,2,630.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",N/A,0,0,Not a veteran,No military service
25,2000,3,10175.0,600.0,California,NaN,Households under 1970 definition,1,622.0,Female,...,Waiters and Waitresses,868,N/A,N/A,"No, did not look for work",N/A,22200,0,Not a veteran,No military service
30,2000,3,13488.0,1800.0,California,NaN,Households under 1970 definition,3,2215.0,Male,...,Bakers,119,50-52 weeks,98,N/A,N/A,51000,51000,Not a veteran,No military service
36,2000,3,15878.0,600.0,California,NaN,Households under 1970 definition,7,635.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,N/A,N/A,6000,0,Not a veteran,No military service
38,2000,3,17850.0,600.0,California,NaN,Households under 1970 definition,1,623.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",N/A,31200,0,Not a veteran,No military service
39,2000,3,17934.0,600.0,California,NaN,Households under 1970 definition,1,576.0,Male,...,Janitors and Building Cleaners,777,40-47 weeks,40,N/A,N/A,60000,60000,Not a veteran,No military service
56,2000,3,28343.0,600.0,California,NaN,Households under 1970 definition,1,627.0,Female,...,"Inspectors, Testers, Sorters, Samplers, and We...",549,48-49 weeks,40,N/A,N/A,12000,12000,Not a veteran,No military service
58,2000,3,29382.0,600.0,California,NaN,Households under 1970 definition,3,719.0,Male,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,N/A,N/A,27000,0,Not a veteran,No military service
60,2000,3,29958.0,600.0,California,NaN,Households under 1970 definition,2,612.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work","No, other reason(s)",0,0,Not a veteran,No military service
67,2000,3,35312.0,600.0,California,NaN,Households under 1970 definition,1,626.0,Female,...,"Human Resources, Training, and Labor Relations...",758,1-13 weeks,20,N/A,N/A,7500,1300,Not a veteran,No military service
70,2000,3,37417.0,600.0,California,NaN,Households under 1970 definition,1,597.0,Male,...,"Unemployed, with No Work Experience in the Las...",992,N/A,N/A,"Yes, looked for work","Yes, available for work",8500,0,Not a veteran,No military service
73,2000,3,39381.0,1800.0,California,NaN,Households under 1970 definition,2,1832.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",N/A,4300,0,Not a veteran,No military service
74,2000,3,39786.0,600.0,California,NaN,Households under 1970 definition,2,600.0,Female,...,First-Line Supervisors of Office and Administr...,647,1-13 weeks,40,N/A,N/A,27400,26400,Not a veteran,No military service
75,2000,3,40150.0,600.0,California,NaN,Households under 1970 definition,3,613.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",N/A,7000,0,Not a veteran,No military service
90,2000,3,48466.0,600.0,California,NaN,Households under 1970 definition,5,642.0,Male,...,First-Line Supervisors of Production and Opera...,447,N/A,N/A,"No, did not look for work","Yes, available for work",12300,0,Not a veteran,No military service
92,2000,3,50999.0,600.0,California,NaN,Households under 1970 definition,1,625.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",N/A,8200,0,Not a veteran,No military service
96,2000,3,53599.0,600.0,California,NaN,Households under 1970 definition,1,600.0,Male,...,Transportation Inspectors,608,N/A,N/A,"No, did not look for work",N/A,23200,0,Not a veteran,No military service
99,2000,3,54671.0,600.0,California,NaN,Households under 1970 definition,1,609.0,Male,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",N/A,43800,0,Veteran,Veteran
100,2000,3,55692.0,600.0,California,NaN,Households under 1970 definition,1,653.0,Male,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work","No, other reason(s)",32400,0,Not a veteran,No military service
103,2000,3,58698.0,600.0,California,NaN,Households under 1970 definition,5,637.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",N/A,0,0,Not a veteran,No military service
111,2000,3,62568.0,600.0,California,NaN,Households under 1970 definition,1,592.0,Male,...,"Sales Representatives, Services, All Other",779,N/A,N/A,"No, did not look for work","No, other reason(s)",14800,0,Veteran,Veteran
113,2000,3,65560.0,600.0,California,NaN,Households under 1970 definition,1,610.0,Male,...,Retail Salespersons,477,50-52 weeks,60,N/A,N/A,48000,42200,Not a veteran,No military service
115,2000,3,66631.0,600.0,California,NaN,Households under 1970 definition,2,621.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",N/A,9300,0,Not a veteran,No military service
126,2000,3,74065.0,600.0,California,NaN,Households under 1970 definition,1,609.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",N/A,8400,0,Not a veteran,No military service
133,2000,3,78621.0,600.0,California,NaN,Households under 1970 definition,1,627.0,Male,...,Upholsterers,888,50-52 weeks,44,N/A,N/A,57300,0,Veteran,Veteran
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47994,2016,1,208504.0,18.0,California,29.0,Group quarters--Institutions,1,18.0,Male,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work","No, other reason(s)",0,0,Not a veteran,No military service
47996,2016,1,208655.0,130.0,California,73.0,Households under 1970 definition,2,132.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",Not reported,3600,0,Not a veteran,No military service
48007,2016,1,209153.0,92.0,California,37.0,Households under 1970 definition,2,71.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",Not reported,2900,0,Not a veteran,No military service
48013,2016,1,209593.0,8.0,California,99.0,Other group quarters,1,8.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",Not reported,12200,0,Not a veteran,No military service
48014,2016,1,209622.0,55.0,California,1.0,Households under 1970 definition,1,55.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work","No, temporarily ill",27400,0,Not a veteran,No military service
48018,2016,1,209663.0,29.0,California,71.0,Households under 1970 definition,1,29.0,Male,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,Not reported,Not reported,10800,0,Not a veteran,No military service
48030,2016,1,209817.0,88.0,California,65.0,Households under 1970 definition,2,64.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",Not reported,14800,0,Not a veteran,No military service
48039,2016,1,210045.0,54.0,California,0.0,Households under 1970 definition,1,55.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",Not reported,42400,0,Not a veteran,No military service
48050,2016,1,210495.0,69.0,California,37.0,Group quarters--Institutions,1,69.0,Male,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,Not reported,Not reported,0,0,Not a veteran,No military service
48057,2016,1,210660.0,96.0,California,59.0,Households under 1970 definition,8,139.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",Not reported,0,0,Not a veteran,No military service
48058,2016,1,210666.0,141.0,California,37.0,Households under 1970 definition,1,141.0,Female,...,Personal Care Aides,8370,50-52 weeks,16,Not reported,Not reported,21001,21000,Not a veteran,No military service
48074,2016,1,210968.0,13.0,California,19.0,Group quarters--Institutions,1,13.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,Not reported,Not reported,10800,0,Not a veteran,No military service
48076,2016,1,211277.0,337.0,California,19.0,Households under 1970 definition,2,366.0,Male,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",Not reported,14700,0,Not a veteran,Training for Reserves or National Guard only
48086,2016,1,211739.0,116.0,California,87.0,Households under 1970 definition,1,116.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",Not reported,11400,0,Not a veteran,No military service
48088,2016,1,211830.0,33.0,California,71.0,Households under 1970 definition,2,33.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",Not reported,10500,0,Not a veteran,No military service
48105,2016,1,212529.0,70.0,California,37.0,Households under 1970 definition,1,70.0,Male,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",Not reported,28800,0,Not a veteran,No military service
48112,2016,1,212944.0,110.0,California,19.0,Group quarters--Institutions,1,110.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,Not reported,Not reported,10800,0,Not a veteran,No military service
48122,2016,1,213267.0,160.0,California,37.0,Households under 1970 definition,5,209.0,Male,...,Other production workers including semiconduct...,2270,50-52 weeks,40,Not reported,Not reported,20000,20000,Not a veteran,No military service
48126,2016,1,213387.0,34.0,California,85.0,Households under 1970 definition,6,43.0,Male,...,Clinical Laboratory Technologists and Technicians,8090,50-52 weeks,40,Not reported,Not reported,120000,120000,Not a veteran,No military service
48136,2016,1,213698.0,46.0,California,37.0,Households under 1970 definition,2,54.0,Male,...,Chefs and Cooks,8680,50-52 weeks,40,Not reported,Not reported,30000,30000,Not a veteran,No military service
48138,2016,1,213749.0,83.0,California,37.0,Households under 1970 definition,2,113.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",Not reported,0,0,Not a veteran,No military service
48156,2016,1,214225.0,65.0,California,37.0,Households under 1970 definition,5,76.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,Not reported,Not reported,7200,0,Not a veteran,No military service
48162,2016,1,214426.0,71.0,California,37.0,Households under 1970 definition,1,70.0,Male,...,"First-Line Supervisors of Mechanics, Installer...",7790,50-52 weeks,40,Not reported,Not reported,44000,44000,Not a veteran,No military service
48173,2016,1,214741.0,174.0,California,19.0,Households under 1970 definition,1,174.0,Female,...,Stock Clerks and Order Fillers,5280,N/A,N/A,Not reported,Not reported,20004,0,Not a veteran,No military service
48179,2016,1,215001.0,68.0,California,73.0,Households under 1970 definition,1,67.0,Female,...,Personal Care Aides,8370,27-39 weeks,30,"Yes, looked for work","Yes, available for work",27900,15000,Not a veteran,No military service
48185,2016,1,215265.0,36.0,California,37.0,Households under 1970 definition,2,36.0,Male,...,Grounds Maintenance Workers,7770,N/A,N/A,"No, did not look for work",Not reported,530,0,Not a veteran,No military service
48194,2016,1,215529.0,117.0,California,75.0,Households under 1970 definition,1,116.0,Male,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work","No, temporarily ill",0,0,Veteran,Veteran
48195,2016,1,215547.0,136.0,California,37.0,Households under 1970 definition,5,221.0,Male,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,"No, did not look for work",Not reported,7200,0,Not a veteran,No military service
48201,2016,1,215708.0,32.0,California,19.0,Households under 1970 definition,2,20.0,Female,...,"Unemployed, with No Work Experience in the Las...",0,N/A,N/A,Not reported,Not reported,7800,0,Not a veteran,No military service
48210,2016,1,215983.0,144.0,California,85.0,Households under 1970 definition,2,157.0,Female,...,"Agricultural workers, nec",170,50-52 weeks,40,"No, did not look for work",Not reported,14300,14300,Not a veteran,No military service

# make categories for the blog post that I worked on last time
show other notebooks for datacleaning for later use if they're intersted